.main-text {
    position: absolute;
    left: 10%;
    top: 52%;
    transform: translate(0%, 92%);
    /* line-height: 0; */
    z-index: 100;
}
.main-text h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--btntext);
}

.main-text h1 {
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--navText);
    margin: 2rem;
}

.main-text p {
    font-size: 1.2rem;
    color: var(--btntext);
    margin-bottom: 1rem;
}

