.pop_up {
    /* From https://css.glass */
    background: rgba(50, 61, 43, 0.955);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(44, 119, 22, 0.895);
    backdrop-filter: blur(8.4px);
    height: fit-content;
    width: 70%;
    margin: auto;
}
