.main {
    width: 100%;
    position: relative;
    background: var(--bg);
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
