.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem 5rem;
    z-index: 1;
    transition: all 0.4s;
}
.nav:hover{
    padding: 2rem 5rem;
    
}
nav ul {
    display: flex;
}
nav ul li a {
    margin: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    color: var(--navText);
    transition: 0.3s;
    border-radius: 5%;
}

nav ul li a:hover {
    background: var(--hover);
}
