@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;1,700;1,900&family=Rubik+Vinyl&family=Signika+Negative:wght@300;400;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
:root {
    --hover: rgba(255, 255, 255, 0.4);
    --active: rgba(102, 246, 191, 0.3);
    --navText: #43d975;
    --btnbg: #60c390;
    --btnsd1: #408360;
    --btnsd2: #98e8c0;
    --btntext: rgb(255, 255, 255);
    --btnborder: #ececec;
    --headerdark: #194528;
    --headerlight: #b9f0cb;
    --textwhitelight: #ececec;
    --textwhitedark: #aaa6a6;
    --bg: #4a6d37c0;
}
* {
    font-family: "Dancing Script", cursive;
    font-family: "Roboto", sans-serif;
    font-family: "Rubik Vinyl", cursive;
    font-family: "Signika Negative", sans-serif;
    font-family: "Urbanist", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

/* CSS */
.button {
    border-radius: 62px;
    background: var(--btnbg);
    box-shadow: 5px 5px 5px var(--btnsd1), 5px 5px 10px var(--btnsd2);
    color: var(--btntext);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: solid 4px var(--btnborder);
    transition: all 0.25s;
    font-weight: bold;
    text-transform: capitalize;
}

.button {
    /* text-decoration: none; */
}

.button:hover {
    /* text-decoration: none; */
}

.button:not([disabled]):active {
    /* box-shadow: #fff 10px 10px 10px 10px, #000 0px 0px 0 0px; */
    box-shadow: 1px 1px 0px var(--btnsd1), 1px 1px 0px var(--btnsd2);
    background: var(--btntext);
    color: var(--btnbg);
    transform: translate(3px, 3px);
}

/* active nav  */
a.active {
    background: var(--active);
    /* border-radius: 3px; */
    color: var(--btntext);
}

/* main task  for each component */

.main {
    padding-top: 10rem;
    padding-bottom: 10rem;
    min-height: 100vh;
    width: 100%;
    color: var(--textwhitelight);
}
p {
    font-size: small;
    font-weight: bolder;
}
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.tracking-in-expand-forward-bottom {
    animation: tracking-in-expand-forward-bottom 0.4s linear both;
}
@keyframes tracking-in-expand-forward-bottom {
    0% {
        letter-spacing: -0.2em;
        transform: translateZ(-700px) translateY(100px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.tracking-out-expand-forward-bottom {
    animation: tracking-out-expand-forward-bottom 0.4s linear both;
}
@keyframes tracking-out-expand-forward-bottom {
    0% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        letter-spacing: 1em;
        transform: translateZ(300px) translateY(200px);
        opacity: 0;
    }
}
