version: '3.8'

services:
  mongodb:
    image: mongo
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password

  api:
    build:
      context: ./api
      args:
        - NODE_ENV=development
    volumes:
      - ./api:/usr/src/app
    ports:
      - 3000:3000
    environment:
      - MONGO_URL=mongodb://mongodb:27017/mydb
      - JWT_SECRET=secret
    depends_on:
      - mongodb
    links:
      - mongodb
    command: npm start

  client:
    build:
      context: ./client
      args:
        - REACT_APP_API_URL=http://api:3000
    volumes:
      - ./client:/usr/src/app
    ports:
      - 3000:3000
    depends_on:
      - api
    command: npm start
