.card {
    overflow: hidden;
    width: 25%;
    position: relative;
}
.card .img {
    overflow: hidden;
    border-radius: 5%;
}
.card img {
    overflow: hidden;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    transition: all 1s;
    border-radius: 5%;
}

.card .content {
    /* width: 80%; */
    margin: auto;
}

.card img:hover {
    transform: scale(1.1);
}

.title {
    /* From https://css.glass */
    background: rgba(63, 46, 46, 0.18);
    border-radius: 16px;
    width: fit-content;
    padding: 0.3rem 1rem;
    box-shadow: 0 4px 80px rgba(99, 205, 138, 0.9);
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: bold;
    color: var(--headerlight);
}

.flag {
    /* From https://css.glass */
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-weight: bold;
    color: var(--headerlight);
    font-size: 3rem;
}


.card .content {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.card .content h1 {
    color: var(--headerdark);
    font-weight: bolder;
    font-size:larger;
}

.card .details {
    margin-top: 1rem;
    /* font-size: small; */
}
